input {
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(25, 18, 222, 0);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
  }