
.title{
    font-family:Arial;
    font-size:26px;
    font-weight:bold;
    margin-bottom:8px;
    
    }
    .sale{
    font-family:Arial;
    color:red;
    font-size: 18px;
    font-style:italic;
    margin-top 0;
    }